body{
    background-color: rgba(0, 0, 255, 0.699);
}
header{
text-align: center;    



}
h1{
    color: white;
    margin-bottom: 50PX;
    
}
section{
    width: 550px;
    height: 300px;
    border-radius: 25px;
    background-color: white;
    margin: auto;
    display: flex;

}
div{
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


#flista{
    width: 150px;
    margin-top: 30px;
}
footer{
    text-align: center;
    color: rgb(66, 155, 6);
    font-family: Arial, Helvetica, sans-serif;
}